*{
	text-decoration: none;
}
body{
	width: auto;
	border: auto;
	padding: auto;
	margin: auto;
  background: black;
	font-family: Arial, Helvetica, sans-serif;
}

.h1 {
	color: white;
	text-align: center;
	padding-top: 1%;
	font-family: "Bookman Old Style";
	font-size: 170%;

}

.h2{
	color: white;
	text-align: left;
	padding-top: 1%;
	font-family: "@Yu Gothic UI Semibold";
	font-size: 80%;

}

.h3{
	color: white;
	text-align: left;
	padding-top: 1%;
	font-family: "@Yu Gothic UI";
	font-size: 70%;

}

header{
	background-color: black;
	width: 100%;

}

nav{
	background-color: black;
	padding-bottom: 0.5%;
	position: sticky;
	top:0;
}


nav ul {

	list-style-type: none;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	padding: 0 ;
	background-color: black;
	overflow: hidden;
	text-align: center;
}

nav ul li {
	display: inline;
}

nav ul li a {

	color:white;
	text-decoration: none;
	padding: 1% 1%;
}
nav ul li a:hover {

	color: #cc5c5c
}
section{
	background: white;
}
.FemeiBarbati{
	font-family: "Bookman Old Style";
	font-size: 85%;
}
.ContCos {
	font-family: "Bookman Old Style";
	font-size: 80%;
}

.footer {
 position:fixed;
	width: 100%;
	bottom:0;
	padding: 0;
	background-color: white;
}

.row {
	display: flex;
}

.column {
	float: left;
	height: 300px;
	background-color: black;
	margin : 1px;
}

.column2{
	float:center;
	padding: 4%;
	height: 200px;
	background-color: black;


}
.left{
	width: 25%;
}
.right{
	width: 75%;
}
/* Newsletter */
#newsletter{
  padding:2px;
	text-align: center;
  color:#fff;
  background:#000;
}

#newsletter h1{
	font-size: 20px;
  float:left;

}

#newsletter form {
  float:right;
  margin-top:0;
	padding-top: 15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

/*---search---*/
#search-button input{
	float:center;
	text-align: center;
	border-radius: 10px;
			-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
}
#search-button input:focus{
	width:30%;
}
/*
#search-button input{
	width: 3%;
	  border-radius:100px;
	  margin:0;
		background-image: url('search1.png');
		background-position: 3px 3px;
  background-repeat: no-repeat;
	-webkit-transition: width 0.4s ease-out;
transition: width 0.4s ease-out;

}
#search-button input:focus{
	width:15%;
}
*/
/*----main----*/
.bestseller{
	float: left;
width: 50%;
border:0;
margin: 0;
}
#info{
	background: white;
}
.coloana1{
	float: left;
	text-align: center;
	width: 33.3%;
	height:10%;
	padding:10px;


}
.coloana2{
	float:center;
	height:10%;
	text-align: center;
	width: 33.3%;



}
.coloana1 p{
	padding:0;
	margin:2%;
}
.coloana3{
	float:right;
	text-align: center;
	height:10%;

width: 33.3%;

}
#info{
	display: flex;
}
.main{
	height:100%;
	background: white

}
/*---login page --*/
.column-left{
	width: 50%;
}
.column-left h1{
	font-size=100px;
	margin:10px;
	text-align: center;
}
.column-right{
	width: 50%;
}
.column-right h1{
	font-size=100px;
	margin:10px;
	text-align: center;
}
#login{
border: 3px solid #f1f1f1;
text-align: center;
padding:16px;
font-size: 20px;
}
#login input[type=text], input[type=password]{
	width: 100%;
 padding: 0;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;

}
#login button{
	background-color: black;
	text-align: center;
  color: white;
  padding: 0;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
span.psw {
  text-align: center;
  padding-top: 16px;
}
#login input[type=checked]{

	text-align: left;
}
#login label{
	width:10%;
}

/* -----shoppingcart---*/
#title h1{
float:center;
text-align: center;
text-transform: uppercase;
}

.shoppingcart{
	background-color: white;
}
.product{
	background-color: white;
}
.product-image { background: white;float: left; width: 20%; }
.product-details {background: white; float: left; width: 37%; }
.product-price {background: white; float: left; width: 12%; }
.product-quantity {background: white; float: left; width: 10%; }
.product-removal {background: white; float: left; width: 9%; }
.product-line-price { background: white;float: left; width: 12%; text-align: right; }
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}
